.square{
    background-color: #FF6060;
    width: 25vw;
    height: 25vw;
    margin: 2.2vw;
    border-radius: 15px;
    position: relative;
}
.square h3{
    font-size: 17px;
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 50%;
    text-align: left;
    color: white;
    text-decoration: none;
}