.logements{
    margin:0 9em;
}

.logements h2 , .hotes p{
    color: #FF6060;
}

.titre-hotes {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.titre-hotes img {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.hotes {
    display: flex;
    
}

.conteneur-box {
    display: flex;
}

.box-info {
    background-color: #FF6060;
    color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;

}

.rating-conteneur {
    display: flex;
    justify-content: space-between;
}

.description-equipements {
    display: flex;
    gap: 80px;
}

.description-equipements .box-content{
    align-items: center;
    width: 18em;
    margin: 0;

}