@import 'variable.scss';
@import 'mixin.scss';
#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	margin: 0;
	font-family: $font-family_1;
	font-size: 1.5rem;
	@include respond(medium) {
		font-size: 0.9rem;
	}
}
@import 'infobox.scss';
@import 'about.scss';
@import 'error.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'home.scss';
@import 'container.scss';
@import 'square.scss';
@import 'logements.scss';
@import 'carousel.scss';
@import 'rating.scss';