@import 'variable.scss';
@import 'mixin.scss';

/* Logements */

.logements {
	width: 100%;
    max-width: 1240px;
	@include respond(large) {
		width: 90%;			
	}
	h2 {
		color: $color_3;
		margin: 0;
	}
	@include respond(medium) {
		margin: 0 1.5em;
	}
	@include respond(smaller) {
		margin: 0 1em;
	}
}

/* titres et hôtes */

.hotes {
	gap: 1em;
	margin-bottom: 2em;
	align-items: center;
	p {
		color: $color_3;
		margin: 0;
	}
	img {
		border-radius: 50%;
		width: 3em;
		height: 3em;
	}
	display: flex;
	@include respond(medium) {
		margin-bottom: 0;
	}
}
.titre-hotes {
	display: flex;
	justify-content: space-between;
	margin: 1.5em 0;
	@include respond(medium) {
		flex-direction: column;	
		margin: 0.75em 0;	
	}
}

/* box données logement */

.conteneur-box {
	display: flex;
	gap: 5px;
}

.box-info {
	background-color: $background-color_1;
	color: $color_1;
	border-radius: 15px;
	padding: 8px;
	@include respond(medium) {
		border-radius: 8px;		
	}
}