.about-visuel {
    height: 223px;
    overflow: hidden;
    margin: 20px 100px;
}

.about-visuel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    filter: brightness(50%);
}