.Home-titre {

    height: 223px;
    overflow: hidden;
    margin: 20px 100px;
    position: relative;
}
 .Home-titre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    filter: brightness(50%);
  }
.Home-titre h1 {
    color: white;
    position: absolute;
    top: 25%;
    left: 27.5%;
    font-size: 48px;
}