@import 'variable.scss';
/* About */

.about-visuel {
	height: 223px;
	overflow: hidden;
	margin: 20px 100px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		border-radius: 15px;
		filter: brightness(50%);
	}
}

/* infoBox */

.chevron {
	width: 24px;
	height: 16px;
}
.box-content {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: $background-color_1;
	color: $color_1;
	margin: 20px 180px;
	padding: 20px;
	border-radius: 10px;
}
.explanation {
	background-color: $background-color_2;
	color: $color_2;
	margin: 20px 180px;
}
