@import 'variable.scss';

/* Error */

.conteneur-error {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 9rem;
	@media (max-width: 375px) {
		margin: 5rem;		
	}
}
.image-error {
	img {
		width: 25rem;
		height: 100%;
		object-fit: cover;
		@media (max-width: 375px) {
			width: 12.5rem;	
			margin: 4rem 4rem 2rem 4rem ;	
		}
	}
}
.titre-error {
	h2 {
		color: $color_3;
		@media (max-width: 375px) {
			margin: 2rem;
		}
	}
}
.link-error {
	margin: 2rem 0 4rem 0;
	a {
		color: $color_2;
	}
}