@import 'variable.scss';

/* Header */
header {
	width: 100%;
    max-width: 1240px;
	@media (max-width:1440px) {
		width: 90%;			
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	nav img {
		height: 68px;
	}
	
	ul {
		padding: 0;
		list-style: none;
		display: flex;
		gap: 4vw;
		@media (max-width: 375px) {
			gap: 1rem;
		}
	}
	
	a {
		text-decoration: none;
	}
	a.active {
		text-decoration: underline;
	}
	.liens-header {
		color: $color_2;
		font-size: 2vw;
		&:focus {
			color: $color_2;
			text-decoration: underline;
		}
		@media (max-width:768px) {
			font-size: 3vw;
		}
		@media (max-width: 375px) {
			font-size: 4vw;
		}	
	}
	@media (max-width: 375px) {
		padding: 0.7rem 1rem;
	}
}