@import 'variable.scss';
@import 'mixin.scss';

/* Header */
header {
	width: 100%;
    max-width: 1240px;
	margin: 20px 0 10px;
	@include respond(large) {
		width: 90%;			
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	nav img {
		height: 68px;
		@include respond(medium) {
			height: 46.88px;
		}
	}
	
	ul {
		padding: 0;
		list-style: none;
		display: flex;
		gap: 4vw;
		@include respond(small) {
			gap: 1rem;
		}
	}
	
	a {
		text-decoration: none;
	}
	a.active {
		text-decoration: underline;
	}
	.liens-header {
		color: $color_2;
		font-size: 24px;
		&:focus {
			color: $color_2;
			text-decoration: underline;
		}
		@include respond(medium) {
			font-size: 1rem;
		}
		@include respond(small) {
			font-size: 14px;
		}	
	}
	@include respond(small) {
		padding: 0.7rem 1rem;
	}
}