@import 'variable.scss';

body {
	margin: 0;
	font-family: $font-family_1;
	font-size: 24px;
}

@import 'about.scss';
@import 'error.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'home.scss';
@import 'logements.scss';
