@import 'variable.scss';

/* Logements */

.logements {
	margin: 0 2em;
	h2 {
		color: $color_3;
	}
	@media (max-width: 375px) {
		margin: 0 1em;
	}
}
.hotes {
	p {
		color: $color_3;
	}
	display: flex;
}
.titre-hotes {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
	img {
		border-radius: 50%;
		width: 3em;
		height: 3em;
	}
}
.conteneur-box {
	display: flex;
	gap: 5px;
}

.box-info {
	background-color: $background-color_1;
	color: $color_1;
	border-radius: 15px;
	margin-bottom: 20px;
	padding: 10px;
}
.rating-conteneur {
	display: flex;
	justify-content: space-between;
}
.description-equipements {
	display: flex;
	justify-content: space-between;
	gap: 2em;
	@media (max-width: 375px) {
		flex-direction: column;	
		gap: 0.5em;
	}
	.box-content {
		align-items: center;
		width: 25em;
		margin: 0;
		@media (max-width: 375px) {
			width: 17em;
		}
	}
}

/* Carousel */

.carousel-img {
	position: relative;
	border-radius: 15px;
	height: 25em;
	width: 100%;
	object-fit: cover;
	@media (max-width: 375px) {
		height: 17.7em;
	}
}
.slide-back {
	position: absolute;
	top: 26rem;
	left: 3rem;
	z-index: 1;
	filter: drop-shadow(rgb(117, 117, 117) 0px 3px 3px);
	@media (max-width: 375px) {
		top: 11rem;
		left: 1rem;
		width: 2rem;
	}
  }
  .slide-forward {
	position: absolute;
	top: 26rem; 
	right: 3rem; 
	z-index: 1;
	filter: drop-shadow(rgb(117, 117, 117) 0px 3px 3px);
	@media (max-width: 375px) {
		top: 11rem;
		right: 1rem;
		width: 2rem;
	}
  }
/* Rating */

.star {
	width: 1.5em;
}